#top{ font-size: 65px;
    border:  solid rgb(253, 236, 0);
    background-color: rgb(3, 231, 247);
    max-width: 1200px;
}






body{
    background-color: rgb(228, 143, 187);
    font-family: Tahoma;
    border: radius 20px;
    margin-top: 20px;
}
input{ 
    background-color: rgb(1, 244, 244);
    color:rgb(164, 150, 239);
}

.para-1{ 
    border:5px solid rgb(239, 122, 76);
    padding: 40px ;
    margin:20px ;
    max-width: 1200px;
    background-color: lightsalmon;

}
.para-0{
    border: 5px solid orange ;
    margin: 20px;
    padding:40px ;
    max-width: 1200;
    background-color: lightsalmon;
    font-size: 27px;
}


.para-1{
    background-color: lightsalmon;
}


#businessImage{ 
    width:100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

#PC{ 
    text-align: center;
    padding: 20px;
    margin: 30px;
    border: 3px solid black;
}
#pp{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.para-2{ background-color: lightsalmon;
    border: 5px solid rgb(239, 122, 76);
    padding: 40px;
    margin: 20px;
    max-width: 1200px;

}
ul{  
    display: flex;
    justify-content: space-between;
    border: 5px solid rgb(239, 122, 76);
    max-width: 1200px;
    background-color: rgb(7, 110, 255);
    padding: 40px;
    color: rgb(247, 3, 174);
    margin: 26px;
    flex-wrap: wrap;

}
nav{
    margin: 20px;
    padding: 40px;
    color: rgb(226, 7, 142);
    background-color: rgb(6, 35, 199);
}
#navbar li{
 text-decoration: blue;
}
#bnt{
    border: 3px solid yellow;
    color: rgb(10, 2, 236);
    padding: 12px 24px;
    border-radius: 6px;
    background-color: aqua;
    text-decoration: none;
}
#callMe{
    margin: 0px;
    padding: 40px;
    background-color: rgb(6, 35, 199);
}
#PNG{
    size-adjust: 20px;
    width: ;
    height: auto;
    max-width:100%;
}
#footer{
    text-align: justify;
}

#dedication{
    font-size: 25px;
    border: 5px solid salmon;
}





